/* GLOBAL CONFIGURATION */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

nav {
    height: 5vh;
    width: 100%;
    position: fixed top;
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 5px;
}

/* CLASSES */

/* Dropdown Buttom */
.dropdown{
    display: block;
}

.dropdown ul{
    display: none;
}

.dropdown:hover ul{
    display: block;
}
/* End Dropdown Butom */